.kabinet-data .kabinet-col-4 a{
    font-size: 12px;
}
.kabinet-data .kabinet-col-4 p{
    color: #707070;
    font-size: 15px;
    padding-left: 25px;
}
.kabinet-data .kabinet-col-4 img{
    margin-bottom: 10px;
}
.kabinet-data .kabinet-col-4 span{
    font-size: 20px;
    line-height: 20px;
}
.kabinet-data .kabinet-col-4 a{
    color: #8287ed;
    text-decoration: underline;
}
.kabinet-data .kabinet-col-4 a:hover{
    text-decoration: none;
}
.kabinet-data .kabinet-col-4 ul li.ui{
    background: url('images/ui.png') left center no-repeat;
}
.kabinet-data .kabinet-col-4 ul li.photos{
    background: url('images/photos.png') left center no-repeat;
}
.kabinet-data .kabinet-col-4 ul li.ms{
    background: url('images/ms.png') left center no-repeat;
}
.kabinet-data .kabinet-col-4 ul li.ls{
    background: url('images/ls.png') left center no-repeat;
}
.kabinet-data .kabinet-col-4 ul{
    margin-bottom: 30px;
    margin-top: 10px;
}
.kabinet-data .kabinet-col-4 ul{
    list-style: none;
   padding-left: 0;
}
.kabinet-data .kabinet-col-4 ul a{
    font-size: 17px;
    line-height: 30px;
    display: block;
    padding-left: 25px;
}
.kabinet-data .kabinet-col-9 h3{
    margin-top: 0;
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.kabinet-data{
    margin-top: 30px;
    font-family: 'Roboto',sans-serif;
}
/*
.inshadow-form:before {
    content: '';
    background: url("images/content_shadow_630_top.png") center 0 no-repeat;
    width: 100%;
    position: absolute;
    height: 10px;
    top: 0;
}
.inshadow-form:after {
    content:'';
    background: url('images/content_shadow_630.png') center 0 no-repeat;
    width: 100%;
    position: absolute;
    height: 10px;
    bottom: 0;
}
*/
.kabinet-data > .kabinet-col-9{
    margin-right: -60px;
}
.kabinet-data .kabinet-col-9 .line{
    margin-bottom: 15px;
}
.kabinet-data .kabinet-col-9 label{
    width: 100%;
    font-weight: normal;
    font-size: 17px;
}
.kabinet-data .kabinet-col-9 input,.kabinet-data .kabinet-col-9 select.kabinet-data .kabinet-col-9 textarea{
    padding-left: 10px;
}
.kabinet-data .kabinet-col-9 input,.kabinet-data .kabinet-col-9 select{
    height: 36px;
}
.kabinet-data .kabinet-col-9 textarea{
    padding-left: 8px;
    max-width: 310px;
}
.kabinet-data .kabinet-col-9 select{
    min-width: 85px;
    padding-left: 8px;
}
.kabinet-data .kabinet-col-9 input, .kabinet-data .kabinet-col-9 textarea{
    width: 310px;
}
.kabinet-data .kabinet-col-9 label span{
    width: 136px;
    float: left;
    color: #707070;
    line-height: 30px;

}
.kabinet-data .line.buttons button{
    width: 150px;
    margin-left: 15px;
    margin-right: 25px;
    float: right;
    border-radius: 2px;
    padding: 0;
    height: 49px;
    display: block;
    margin-top: 0;
}
.kabinet-data button{
    outline: 0;
    border: 0;
}
.kabinet-data .hr-top{
    width: 100%;
    height: 20px;
    background: url('images/hr-top.png') center no-repeat;
    border: 0;
}
.kabinet-data .hr-bottom{
    width: 100%;
    height: 20px;
    background: url('images/hr-bottom.png') center no-repeat;
    border: 0;
}
.kabinet-data{
    padding-bottom: 50px;
}
.grey-btn {
    background: url("images/grey-btn-bg.png") repeat-x;
    font-size: 19px;
    line-height: 21px;
    color: #FFF;
    padding: 12px 38px 15px;
    width: 215px;
    display: block;
    margin: 20px auto 21px;
}
.grey-btn:active {
    background: #939393;
}
.green-btn {
    background: url("images/green-btn-bg.png") repeat-x;
    font-size: 19px;
    line-height: 21px;
    color: #FFF;
    padding: 12px 38px 15px;
    width: 215px;
    display: block;
    margin: 20px auto 21px;
}
.green-btn:active{
    background: #1f9c01;
}

.menu .info{
    width: 50px;
    margin-right: 34px;
    padding-top: 13px;
}
.menu a.message span{
    position: relative;
    background: #1d0f4c;
    font-size: 8px;
    color: #fff;
    padding: 2px 3px;
    border-radius: 3px;
    right: -12px;
    bottom: -5px;
}
.menu a.message{
    float: left;
    width: 17px;
    height: 12px;
    background: url("images/mail.png") center center no-repeat;
    position: relative;
}
.menu a.user-profile{
    display: block;
    background: url("images/profile.png") center center no-repeat;
    width: 15px;
    height: 14px;
    float: right;
}

/* ------------------------------
 Content4
 ------------------------------*/
.content4 .green-btn{
    float: left;
    width: 216px;
    border-radius: 3px;
    padding: 0;
    height: 49px;
}
.kabinet-data  .content4 h3{
    margin-bottom: 15px;
}
.content4 .line .info span{
    font-size: 19px;
    float: right;
}
.content4 .history .title{
    font-size: 20px;
    font-weight: lighter;
}
.content4 .hr-bottom{
    margin-bottom: 0;
}
.content4 .hr-top{
    margin-bottom: 10px;
}
.content4 .line + .line{
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
    margin-top: 10px;
}
.content4 .lines{
    margin-top: 10px;
}
.content4 .line .info.plus{
    color: #3fb60f;
}
.content4 .line .date{
    color: #acacac;
    font-size: 12px;
}
.content4 .line .who a:hover{
    text-decoration: none;
}
.content4 .line .who a{
    color: #8287ed;
    text-decoration: underline;
}
.content4 .line .who{
    font-size: 12px;
}
.content4 .more-count:hover{
    text-decoration: none;
}
.content4 .more-count{
    font-size: 13px;
    color: #acacac;
    text-decoration: underline;
    float: left;
}
.content4 .line .info{
    font-size: 17px;
}
.content4{
    padding-bottom: 50px;
}
.content4 .balance{
    color: #252525;
    font-size: 20px;
}